<div ng-show="$ctrl.selectedCase === undefined">
    <md-card ng-repeat="case in $ctrl.cases" ng-click="$ctrl.selectCase(case)">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{ case.title }}</span>
                <span class="md-subhead"> {{ case.name }}</span>
            </md-card-title-text>
            <md-card-title-media>
                <div class="md-media-sm card-media">
                    <md-icon md-svg-icon="{{ case.avatar }}" class="avatar" ng-if="case.avatar !== undefined"></md-icon>
                    <md-button class="md-fab" ng-disabled="true" ng-if="case.avatar === undefined">
                        <i class="material-icons" >person</i>
                    </md-button>

                </div>
            </md-card-title-media>
        </md-card-title>
        <md-card-content>
            <p class="md-title">
                <i class="material-icons md-18">data_usage</i> {{ case.percent }} %
                <i class="material-icons md-18">euro_symbol</i> {{ case.premium.toFixed(2) }}
                <i class="material-icons md-18">flash_on</i> {{ case.amount.toFixed(2) }}
            </p>
        </md-card-content>
    </md-card>
</div>
<div ng-show="$ctrl.selectedCase !== undefined">
    <md-card>
        <md-card-header>
            <md-card-avatar>
                <md-icon md-svg-icon="{{ $ctrl.selectedCase.avatar }}" class="md-user-avatar"></md-icon>
            </md-card-avatar>
            <md-card-header-text>
                <span class="md-title">{{ $ctrl.selectedCase.name }}</span>
                <span class="md-subhead">{{ $ctrl.selectedCase.location }}</span>
            </md-card-header-text>
        </md-card-header>
        <img ng-src="{{ $ctrl.selectedCase.image}}" class="md-card-image" alt="Picture" style="padding: 0 20px; max-height: 140px;">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{ $ctrl.selectedCase.title }}</span>
            </md-card-title-text>
        </md-card-title>

        <md-card-content>
            <p class="md-title">
                <i class="material-icons md-18">data_usage</i> {{ $ctrl.selectedCase.percent }} %
                <i class="material-icons md-18">euro_symbol</i> {{ $ctrl.selectedCase.premium.toFixed(2) }}
                <i class="material-icons md-18">flash_on</i> {{ $ctrl.selectedCase.amount.toFixed(2) }}
            </p>
            <p>
                <span class="md-subhead">{{ $ctrl.selectedCase.description }}</span>
            </p>
        </md-card-content>
        <md-card-actions>
            <form>
                <md-input-container class="md-icon-float md-icon-right md-block">
                    <label>Your Share (1.00 to {{ ((100 - $ctrl.selectedCase.percent) / 100 * $ctrl.selectedCase.amount).toFixed(2) }} EUR)</label>
                    <input ng-model="$ctrl.fundamount" type="number" step="1" class="fund-amount">
                    <md-icon md-svg-src="assets/svg/ic_euro_24px.svg"></md-icon>
                </md-input-container>
            </form>
            <p class="md-title" ng-if="$ctrl.fundamount > 0">YOUR REVENUE: {{ ($ctrl.selectedCase.premium * $ctrl.fundamount / $ctrl.selectedCase.amount).toFixed(2) }} EUR</p>
            <md-button class="md-raised md-primary" ng-disabled="$ctrl.fundamount <= 0 || $ctrl.fundamount > ((100 - $ctrl.selectedCase.percent) / 100 * $ctrl.selectedCase.amount)">FUND</md-button>
        </md-card-actions>
    </md-card>
</div>