<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

  <title>chaINsurance</title>
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,700'>
  <link rel="stylesheet" href="./jspm_packages/github/angular/bower-material@master/angular-material.css"/>
  <link rel="stylesheet" href="./assets/app.css"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script src="./app.js"></script>
</head>

<body ng-cloak layout="column" ng-controller="AppController as app">

  <!-- Container #1 (see wireframe) -->
  <md-toolbar layout="row" class="md-toolbar-tools">
    <md-button class="menu md-icon-button" hide-gt-sm ng-click="app.toggleList()">
      <md-icon md-svg-icon="menu"></md-icon>
    </md-button>
    <h1>chaINsurance</h1>
  </md-toolbar>

  <!-- Container #2 -->
  <div flex layout="row">

    <!-- Container #3 -->
    <md-sidenav class="md-whiteframe-4dp" md-is-locked-open="$mdMedia('gt-sm')"
                md-component-id="left" ng-click="app.toggleList()">
      <!-- Custom UsersList component -->
      <md-content width="4">
        <img src="assets/images/logo.png" class="md-card-image" style="max-width: 100px; padding: 10px;">
        <md-divider></md-divider>
        <md-menu-item>
          <md-button ng-click="app.selectPage('home')">
            <i class="material-icons">home</i> Home
          </md-button>
        </md-menu-item>
        <md-divider></md-divider>
        <md-menu-item>
          <md-button ng-click="app.selectPage('new')">
            <i class="material-icons">note_add</i> Create Case
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="app.selectPage('fund')">
            <i class="material-icons">sentiment_satisfied</i> Fund Case
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="app.selectPage('verify')">
            <i class="material-icons">flash_on</i> Verify Damage Event
          </md-button>
        </md-menu-item>
        <md-divider></md-divider>
        <md-menu-item>
          <md-button>
            <i class="material-icons">account_box</i> Account
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button>
            <i class="material-icons">settings</i> Settings
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button>
            <i class="material-icons">info</i> About
          </md-button>
        </md-menu-item>
      </md-content>
    </md-sidenav>

    <!-- Container #4 -->
    <md-content flex id="content">
      <div ng-if="app.selected === 'home'">
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Crowd Funded Insurance on the Blockchain</span>
            </md-card-title-text>
          </md-card-title>
          <img src="assets/images/logo.png" class="md-card-image" style="margin-top: 15px;">
          <md-card-content class="home-teaser">
            <p>Low-cost effective insurance for the whole world!</p>
          </md-card-content>
        </md-card>
      </div>

      <new-case ng-if="app.selected === 'new'"></new-case>
      <fund-case ng-if="app.selected === 'fund'"></fund-case>
      <verify-damage ng-if="app.selected === 'verify'"></verify-damage>
    </md-content>

  </div>

  <script src="./jspm_packages/system.js" type="text/javascript"></script>
  <script src="config.js" type="text/javascript"></script>
  <script type="text/javascript">
    System
        .import('src/boot/boot')
        .catch( console.error.bind(console) ); // make sure any errors print to console
  </script>

</body>
</html>
