<h2>Create New Insurance Request</h2>
<md-content>
    <form name="insuranceForm">
        <div layout-gt-xs="row">
            <md-input-container class="md-block" flex-gt-xs>
                <label>Title</label>
                <input ng-model="case.title">
            </md-input-container>
        </div>
        <md-input-container class="md-block">
            <label>Description</label>
            <textarea ng-model="case.description" md-maxlength="150" rows="3" md-select-on-focus></textarea>
        </md-input-container>
        <md-button class="md-primary" href=""><i class="material-icons">add_a_photo</i> Attach Fotos</md-button>
        <md-input-container class="md-icon-float md-icon-right md-block">
            <label>Amount Insured</label>
            <input ng-model="case.amount" type="number" step="1">
            <md-icon md-svg-src="assets/svg/ic_euro_24px.svg"></md-icon>
        </md-input-container>
        <md-input-container class="md-icon-float md-icon-right md-block">
            <label>Insurance Premium</label>
            <input ng-model="case.premium" type="number" step="1">
            <md-icon md-svg-src="assets/svg/ic_euro_24px.svg"></md-icon>
        </md-input-container>
        <md-checkbox>
            <md-select ng-model="case.moderator" placeholder="Validate Damage by Person" class="md-no-underline">
                <md-option value="1">Shaggy Rodgers</md-option>
                <md-option value="2">Daphne Blake</md-option>
                <md-option value="3">Velma Dinkley</md-option>
            </md-select>
        </md-checkbox>
        <md-checkbox>
            <md-select ng-model="case.service" placeholder="Validate Damage by Service" class="md-no-underline">
                <md-option value="1">weather.com</md-option>
                <md-option value="2">World Climate Report</md-option>
                <md-option value="3">Oraclize</md-option>
            </md-select>
        </md-checkbox>
    </form>
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <md-button class="md-raised md-primary">SUBMIT</md-button>
    </section>
</md-content>